body {
  font-family: "Arial", sans-serif;
  font-family: "onamura";
  background-color: #121212;
  background-color: #343434;
  background-color: #28282b;
  background-color: #26262a;
  color: #e0e0e0;
  line-height: 1.6;
  /* padding: 0 20px; */
  position: relative;
  width: 100%;
}

@media (min-width: 1000px) {
  .sub {
    display: grid;
    margin: 4rem 30px 40px 20px;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 100%;
  }
}
