.services {
  padding: 60px 0;
  text-align: center;
  position: relative;
}

.services h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .services {
    padding: 60px;
  }
}
@media (min-width: 1000px) {
  .services {
    padding: 60px 15px;
  }
}
