.about {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 60px 16px;
  margin: 4rem 20px 40px 20px;
  text-align: center;
  font-family: var(--font-inter);
  overflow: hidden;
  border-radius: 10px;
  background: #2a292e;
  box-shadow: 1px 5px 11px rgba(0, 0, 0, 0.6);
}
.sub-about {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* font-family: var(--font-spaceGrotesk); */
}

.about-image-container {
  margin-bottom: 20px;
  margin: 0 auto;
}

.about-image {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #7037eb;
  /* border: 5px solid #8b5fbf; */
}

.about h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.about p {
  font-size: 14px;
  max-width: 700px;
  margin: 0 auto;
  color: #c0c0c0;
  font-family: var(--font-inter);
}

@media (min-width: 768px) {
  .about {
    padding: 60px 25px;
  }
  .sub-about {
    max-width: 80%;
    align-self: center;
  }
}

@media (min-width: 1000px) {
  .about {
    padding: 20px 10px;
    margin: 0 0 0 0;
    border-radius: 30px;
  }
  .about h2 {
    margin-bottom: 10px;
  }
  .sub-about {
    max-width: 95%;
  }
}
