/* General Styles */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  font-family: "onamura";
  background-color: #121212;
  background-color: #343434;
  background-color: #28282b;
  background-color: #26262a;
  color: #e0e0e0;
  line-height: 1.6;
  padding: 0 20px;
  position: relative;
}

h1,
h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 3rem;
  color: #ffffff;
  letter-spacing: 0.5px;
}

button {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

p {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.8;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #ff6600;
}

ul {
  list-style: none;
}

/* Header & Hero Section */
header {
  background-color: #1b1b1b;
  text-align: center;
}

nav {
  padding: 1.3rem 0;
  background: linear-gradient(
    to bottom,
    #1e1e20 0%,
    #232124 33%,
    #222124 66%,
    #222125 100%
  );
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: #e0e0e0;
  font-size: 1.2em;
  transition: color 0.3s;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
}

.modified {
  margin: 0 10px;
}

nav ul li a:hover {
  color: #ff6600;
}

.hero {
  padding: 100px 0;
  background: url("./images/nature.webp") no-repeat center center/cover;
  transition: background-image 1.5s ease-in-out;
  /*transition-duration: 500ms;
  */
  color: #ffffff;
  text-align: center;
  -webkit-transition: background-image 1.5s ease-in-out;
  -moz-transition: background-image 1.5s ease-in-out;
  -ms-transition: background-image 1.5s ease-in-out;
  -o-transition: background-image 1.5s ease-in-out;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.cta-button {
  background-color: #ff6600;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.2em;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #e65c00;
}

/* About Section */
#about {
  overflow: hidden;
  padding: 60px 0;
  text-align: center;
  background: #1a1a1e;
  background: #141316;
  background: #1e1b1e;
  background: #2a292e;
  margin: 4rem 0 40px 0;
  border-radius: 10px;
  box-shadow: 1px 5px 11px rgba(0, 0, 0, 0.6);
}

.about-image-container {
  margin-bottom: 20px;
  /* width: 99%; */
  margin: 0 auto;
}

.about-image {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #ff6600;
}

#about h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

#about p {
  font-size: 1.1em;
  max-width: 700px;
  margin: 0 auto;
  color: #c0c0c0;
}

/* Services Section */
#services {
  padding: 60px 0;
  margin: 40px 0;
  text-align: center;
}

#services h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
}

.service-list {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.service-item {
  background-color: #2e2b30;
  padding: 30px;
  width: 30%;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s;
  box-shadow: 1px 5px 11px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 735px) {
  .service-item {
    min-width: 60%;
  }
}

.service-item:hover {
  transform: scale(1.05);
}

.service-item h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.service-item p {
  font-size: 1em;
  color: #c0c0c0;
}

/* Portfolio Section */
#portfolio {
  padding: 60px 0;
}

#portfolio h2 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 40px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.portfolio-item {
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.portfolio-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.portfolio-item h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.portfolio-item p {
  color: #c0c0c0;
}

/* Contact Section */
#contact {
  padding: 60px 0;
  text-align: center;
  background-color: #1e1e1e;
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    #313035 0%,
    #2b2a2e 10%,
    #1f1c1f 40%,
    #1b191c 70%,
    #313035 100%
  );
  box-shadow: 1px 5px 11px rgba(0, 0, 0, 0.6);
}

#contact h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin: 0 auto;
}

#contact input,
#contact textarea {
  width: 98%;
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: #313035;
  color: #ffffff;
  margin: 0 auto;
}

#contact button {
  background-color: #ff6600;
  color: #ffffff;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  cursor: pointer;
  width: 97%;
  justify-self: center;
  margin: 0 auto;
}

#contact button:hover {
  background-color: #e65c00;
}

/* Spacer */
.spacer {
  height: 130px;
}

/* Footer */
footer {
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(
    to bottom,
    #313035 0%,
    #2b2a2e 5%,
    #1f1c1f 30%,
    #1b191c 100%
  );
}

footer p {
  margin-bottom: 10px;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer ul li {
  margin: 0 15px;
}

footer ul li a {
  color: #ffffff;
}

/* h1,
h2,
h3 {
  font-family: "Cinzel", serif;
  font-weight: 700;
  font-size: 3.5rem;
  color: #ffffff;
  letter-spacing: 1px;
}

h4,
button,
.btn {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: white;
  background-color: #ff6700;
}

body,
p {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.7;
} */
