.footer {
  color: #ffffff;
  text-align: center;
  padding: 32px 0 60px 0;
  width: 100%;
  font-size: 14px;
  background: #000000;
}

.footer p {
  margin-bottom: 10px;
}

.footer ul {
  display: flex;
  justify-content: center;
}

.footer ul li {
  margin: 0 15px;
}

.footer ul li a {
  color: #ffffff;
}
