body {
  font-family: "Arial", sans-serif;
  font-family: "onamura";
  background-color: #121212;
  background-color: #343434;
  background-color: #28282b;
  background-color: #26262a;
  color: #e0e0e0;
  line-height: 1.6;
  padding: 0 20px;
  position: relative;
}
