.certificate-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
}

@media screen and (min-width: 640px) {
  .certificate-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1100px) {
  .certificate-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}
